<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>edit</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<body>
<h1 style="text-align: center;">Editar {{alunos.nome}}   </h1>
<form action="/edit/{{alunos.id}}" class="container" method="post">
    <div class="row">
        <div class="col-md-6">
            <input type= "text" name="nome" id="nome" placeholder="nome" class="form-control" value="{{alunos.nome}}">
        </div>
        <div class="col-md-6">
            <input type= "number" name="cpf" id="cpf" placeholder="cpf" class="form-control" value="{{alunos.cpf}}">
        </div>
        <div class="col-md-6">
            <select type="text" name ="plano" id="plano" class="form-control" value="{{alunos.plano}}" >
                <option value="Musculação mensal">Musculação mensal</option>
                    <option value="Musculação semestral">Musculação semestral</option>
                    <option value="Musculação anual">Musculação anual</option>
                    <option value="Luta mensal">Luta mensal</option>
                    <option value="Luta semestral">Luta semestral</option>
                    <option value="Luta anual">Luta anual</option>
                    <option value="Crossfit mensal">Crossfit mensal</option>
                    <option value="Crossfit semestral">Crossfit semestral</option>
                    <option value="Crossfit anual">Crossfit anual</option>
                  </select>
        </div>
    </div>
    <br>
    <div class="row col-xs-12">
        <button type="submit" class="btn btn-block btn-success">enviar</button>
    </div>
</form>    
</body>
</html>